<!DOCTYPE html>
<html>
<head>
    {% extends "base.html" %}
    {% load staticfiles %}
    {%block head%}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properities -->
{%endblock head%}
{%block content%}
<body>

  <div class="ui fixed huge inverted menu">
    <div class="ui container">
      <div href="#" class="header item">
        Agproject
      </div>
    </div>
    <div class="right menu">
    <div href="#" class="header huge item">{{obj}}</div>
              <a href="/logout" class="item">Logout</a>

    </div>
  </div>




</body>
  {%endblock content%}
