<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <head>


      {% extends "base.html" %}
      {% load staticfiles %}
      {%block head%}
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'dist/custom.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->

<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
{%endblock head%}
{%block content%}

<body class="main main-view">

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div href="#" class="header item">
          Grain Testing Portal
        </div>
      </div>
      <div class="right menu">
      <div href="#" class="header huge item">{{obj}}</div>
                <a href="/logout" class="item">Logout</a>

      </div>
    </div>


          <div>
              <i class="pagelines icon"></i>
              Grain Testing Portal
          </div>
<br>
<br>

<br>


      <div class="ui grid">
              <div class="two wide column">

                 <a href = "/index"> <div class="menu-bar">
                      <button class=" ui red plus icon button" onclick="show_home_planting();">
                          <i class="huge home  icon menu-icon"></i><br>
                          Home
                      </button></a>
                      <a href = "/showreport"><button class=" ui white icon button" onclick="show_reports();">
                          <i class="huge edit  icon menu-icon"></i><br>
                          Reports
                      </button><br></a>
                      <button class=" ui yellow icon button" onclick="show_messages();">
                          <i class="huge mail  icon menu-icon"></i><br>
                          Messages
                      </button><br>
                      <button class=" ui green icon button" onclick="show_user_info();">
                          <i class="huge user  icon menu-icon"></i><br>
                          Users
                      </button><br>
                      <button class=" ui teal icon button" onclick="show_help();">
                          <i class="huge help  icon menu-icon"></i><br>
                          Help
                      </button><br>
                      <button class=" ui blue icon button" onclick="show_settings();">
                          <i class="huge settings  icon menu-icon"></i><br>
                          Settings
                      </button><br>
                  </div>
              </div>

              <div class="eight wide column " id="content-area">


                  <br>
                  <div class="ui labeled icon buttons">

                      <a href = "/form"><button class="ui basic active button report-btns" onclick="show_form();">
                          <i class="plus icon"></i>
                          Create New
                      </button></a>



                  </div>

                  <br><br><br>
                  <div id="reports-content">
                      <table class="ui very basic table">
                          <thead>
                          <tr>
                              <th>ID</th>
                              <th>Date</th>
                              <th>Grain Type</th>
                              <th>Quantity</th>
                              <th>Status</th>
                              <th>Publish</th>
                          </tr>
                          </thead>
                          <tbody>
                              {% for li in lis %}
                              <tr>

                                <td>

                                {{li.id1}}</td>
                                <td>

                                {{li.date}}</td>
                                <td>


                                    {{li.ptype}}</td>
                            <td>

                              {{li.quantity}}</td>
                                <td>In-stock</td>
                              </tr>
                              {% endfor %}


                          </tbody>
                      </table>
                  </div>


              </div>
      </div>

</body>
 {%endblock content%}
